{% extends 'layout.html' %}
{% block content %}
    {% if log %}
      <h3>Operacje wykonane w magazynie:</h3>

            <dl>
            {% for item in log %}
                {% if  line_from <= loop.index <= line_to %}
                    <p><dl>
                    Log nr {{ loop.index }}:
                    {% if item[0] == "saldo" %}
                        <dt>{{ item[0] }} </dt>
                            wartość: {{ item[1][0] }}<br>
                            komentarz: {{item[1][1] }}
                    {% else %}
                        <dt>{{ item[0] }} </dt>
                        Nazwa produktu: {{ item[1][0] }}<br>
                        Cena jednostkowa: {{item[1][1] }}<br>
                        Liczba sztuk {{ item[1][2] }}
                    {% endif %}
                    {% block loop_item %}{{ item }}{% endblock %}
                    </dl></p>
                {% endif %}
           {% endfor %}
            </dl>
    {% else %}
        <h3>Brak logu</h3>
    {% endif %}



{% endblock %}

